<div class="alert alert-{{ level|default('danger') }} alert-dismissible fade show" role="alert">
    {{ error|raw }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>