<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Meal App{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body class="d-flex min-vh-100 flex-column {{ app.request.get('_route') }}">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('dashboard') }}">Meal App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% block navbar %}{% endblock %}
        </div>
    </div>
</nav>

<main class="container d-flex flex-shrink-0 flex-grow-1 pt-4 pb-4 justify-content-center">
    {% block body %}{% endblock %}
</main>

<footer class="navbar navbar-light bg-light">
    <div class="container-fluid text-center">
        <span class="m-auto">Formation Symfony 2021 - Product Owner Emmanuelle</span>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

</body>
</html>