{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('meal') }}">Meals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_edit') }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
        </li>
    </ul>
{% endblock %}
