{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="navbar-nav ms-auto">
        {% for routeName in ['register', 'login'] %}
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == routeName ? 'active' : '' }}"
                   href="{{ path(routeName) }}">{{ routeName|capitalize }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
