{% extends 'base_member.html.twig' %}

{% block title %}Decks - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Deck index</h1>
    <div>
        <a href="{{ path('deck_new') }}" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock %}
