{% extends 'base.html.twig' %}

{% block title %}New Post {{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="is-size-2 my-5">New Post</h1>
    </main>
{% endblock %}
