{% extends 'base.html.twig' %}

{% block title %}Post List{{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="is-size-2 my-5">Post List</h1>
    </main>
{% endblock %}
