{% extends 'base_catalog.html.twig' %}

{% block title %}Cards - {{ parent() }}{% endblock %}

{% block sub_nav_items %}
    <ul class="deck-picker right hide-on-med-and-down">
        <select>
            <option disabled selected>Select Deck</option>
            <option>Offensive Deck</option>
            <option>Defensive Deck</option>
        </select>
    </ul>
{% endblock %}

{% block body %}
    <h1>Card index</h1>
{% endblock %}
