{% extends 'base.html.twig' %}

{% block nav_items %}
    <li>
        <a href="{{ path('user_new') }}">SignUp</a>
    </li>
    <li>
        <a href="{{ path('auth_signin') }}">SignIn</a>
    </li>
{% endblock %}

{% block sidenav_items %}
    <li>
        <a href="{{ path('mtgd_index') }}">MTGD</a>
    </li>
{% endblock %}