<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Magic The Gathering Decks{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{{ app.request.get('_route') }} black white-text">

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ path('mtgd_index') }}" class="brand-logo">MTGD</a>
            <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% block nav_items %}{% endblock %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="sidenav">
        {% block sidenav_items %}{% endblock %}
    </ul>
    {% block subnav %}{% endblock %}
</header>

<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>