{% extends 'base_member.html.twig' %}

{% block subnav %}
    <nav class="pink darken-3">
        <div class="nav-wrapper">
            <ul class="left">
                <li {{ not options.colors ? ' class="active"' : '' }}>
                    <a href="?page=1">All</a>
                </li>
                {% for color in colors %}
                    <li{{ options.colors|capitalize == color.name ? ' class="active"' : '' }}>
                        <a href="?color={{ color.name|lower }}&page=1">{{ color.name == 'Black' ? 'Dark' : color.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% block sub_nav_items %}{% endblock %}
        </div>
    </nav>
{% endblock %}

