{% extends 'base_member.html.twig' %}

{% block subnav %}
    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li><a href="">All</a></li>
                <li><a href="">Red</a></li>
                <li><a href="">Green</a></li>
                <li><a href="">Blue</a></li>
                <li><a href="">Dark</a></li>
                <li><a href="">White</a></li>
            </ul>
            {% block sub_nav_items %}{% endblock %}
        </div>
    </nav>
{% endblock %}

