{% extends 'base_member.html.twig' %}

{% block title %}Nouveau Repas - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col">Nouveau Repas</h1>
    </div>
{% endblock %}
