{% for comment in comments %}
    <ul>
        <hr>
        <li class="block">
            <strong>{{ comment.user.pseudo }}</strong>:
            <br>
            <br>
            <blockquote class="notification">{{ comment.content }}</blockquote>
        </li>
    </ul>
{% endfor %}
