<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>
    <span *ngIf="!error else title">Login to the app</span>
    <ng-template #title>
      <ion-text class="ion-padding" color="danger">{{ error }}</ion-text>
    </ng-template>
  </h1>
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <br />
    <ion-button *ngIf="!loadingService.login else loading" type="submit" [disabled]="!form.valid">Submit</ion-button>
    <ng-template #loading>
      <ion-spinner name="crescent"></ion-spinner>
    </ng-template>
  </form>
</ion-content>