{% extends 'base_visitor.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col">Connexion</h1>
    </div>
{% endblock %}
