{% extends 'base_visitor.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col">Inscription</h1>
    </div>
{% endblock %}
