{% extends 'base_visitor.html.twig' %}
{% block title %}Sign In - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <br>
        <br>
        <br>
        <div class="col s12 offset-m2 m8">
            <div class="card black-text">
                <div class="card-content">
                    <h1 style="margin: 0">Authentification</h1>
                </div>
                <form method="post" novalidate="novalidate">
                    <div class="card-content">
                        <div class="row">
                            {% if error %}
                                <div class="col s12 error red-text">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            <div class="input-field col s12">
                                <input type="email" id="signin_email"
                                       name="email"
                                       required="required"
                                       maxlength="180"
                                       valie="{{ last_username }}"/>
                                <label class="required" for="signin_email">
                                    Email
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="password"
                                       id="signin_password"
                                       name="password"
                                       required="required"/>
                                <label class="required" for="password">
                                    Password
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn">Authenticate</button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
