{% extends 'base_visitor.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row w-100 py-4 pb-5 h-25 justify-content-center">
        <form class="col-12 row justify-content-center" method="post" novalidate>
            <div class="card p-5 col-12 col-md-7">
                <h1>Connexion</h1>
                {% if error %}
                    {% include '_alert.html.twig' with { error: error.messageKey|trans(error.messageData, 'security') } %}
                {% endif %}
                <div class="my-2">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" required autofocus>
                </div>
                <div class="my-2">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class=" pt-4 text-end">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
